<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <style>
        #sigma-parent {
            width: 100%;
            height: 100%;
            position: absolute;
        }
          .button {
	        text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	        border-radius: 5px;
	        -moz-border-radius: 5px;
	        -webkit-border-radius: 5px;
	        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	        color: white;
	        padding: 5px 10px 5px;
	        white-space: nowrap;
	        text-decoration: none;
	        cursor: pointer;
	        background: #0000FF;
	        border-style: none;
	        text-align: center;
	        overflow: hidden;
        }
 
        .button:hover,
        .button:focus {
	        background: #1919FF;
	        color: white;
        }

        .button:active {
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
            -webkit-box-shadow: none;
        }
    </style>
    <script src="{{ url_for('static', filename='lib/sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/sigma-plugins/sigma.parsers.gexf.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-1.11.2.min.js') }}"></script>
</head>
<body>

<div id="main-div">
    <div id="menu-id">
    <div class="toggle-btn-grp joint-toggle">
        <label onclick="oneShare()" class="toggle"><input type="radio" name="shareMode" />1 Sharer</label>
        <label onclick="multiShare()" class="toggle"><input type="radio" name="shareMode" />Multiple Sharer</label>
    </div>
    <form id="FBSim" action="form_action.asp">
        <span title="How closely interests align across the network">
            Diversity
            <input type="text" name="diversityP" value="0" class="diversity">
        </span>

        <span title="Frequency of unique content being posted to network">
            Unique Content
            <input type="text" name="uniquenessP" value="0">
        </span>

        <span title="Probability that someone will reshare content they like">
            Re-Share Probability
            <input type="text" name="reshareP" value="1.0">
        </span>

        <input type="BUTTON" class="button" value="Run Simulation" onclick="runSimulation(this.form)">
        <input type="BUTTON" class="button" value="Get Current Simulation Data" onclick="getCurrentData()">
        <input type="BUTTON" class="button" value="Get Average Data" onclick="getAverageData()">
    </form>
    <table>
        <tr>
            <td bgColor="#eee" width="50px">
            </td>
            <td>
                Didn't see it.
            </td>
            <td id="unseenCount"></td>
        </tr>
        <tr>
            <td width="50px" bgcolor="#75ff46"></td>
            <td>
                Uninterested.
            </td>
            <td id="uninterestedCount"></td>
        </tr>
        <tr>
            <td width="50px" bgColor="#64c88">
            </td>
            <td>
                Interested.
            </td>
            <td id="interestedCount"></td>
        </tr>
        <tr>
            <td width="50px" bgcolor="#0025E0"></td>
            <td>
                Re-shared.
            </td>
            <td id="resharedCount"></td>
        </tr>
        <tr>
            <td width="50px" bgcolor="#050F1A"></td>
            <td>
                Original sharers.
            </td>
            <td id="originalSharers"></td>
        </tr>
    </table>
        </div>
    <div id="sigma-parent"></div>
</div>

<script>
    var unseenColor = '#eee';
    var seenUninterestedColor = '#75ff46';
    var interestedNoPostColor = '#64c888';
    var repostColor = '#0025E0';
    var shareColor = '#050F1A';
    var diversity = "";
    var uniqueness = "";
    var reshare = "";
    var startNode = "";
    var reshareCt = 0;
    var interestCt = 0;
    var uninterestCt = 0;
    var unseenCt = 0;
    var simulating;
    var mode;
    var sharingMode = false;
    var startNodes = [];
    var startNodesCount = 0;
    var size = 1;
    var networkLength = 0;

    function getCurrentData() {
        var row1 = ["Network Size: ", networkLength]
        var row2 = ["Start Node(s): "]
        var k = 0;
        

        while (k < startNodes.length) {
            row2[k + 1] = startNodes[k].label;
            k++;
        }

        var row3 = ["Diversity: ", diversity];
        var row4 = ["Uniqueness: ", uniqueness];
        var row5 = ["Reshare Rate: ", reshare];
        var row6 = ["Reshare Count: ", reshareCt];
        var row7 = ["Interest Count: ", interestCt];
        var row8 = ["Uninterest Count: ", uninterestCt];
        var row9 = ["Unseen Count in Visited Nodes: ", unseenCt];
        var row10 = ["Total Unseen Count: ", networkLength - reshareCt - interestCt - uninterestCt - startNodesCount];

        var data = [row1, row2, row3, row4, row5, row6, row7, row8, row9, row10];
        var csvContent = "data:text/csv;charset=utf-8,";
        data.forEach(function (infoArray, index) {
            dataString = infoArray.join(",");
            csvContent += index < data.length ? dataString + "\n" : dataString;
        });

        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "simulationData.csv");

        link.click(); // This will download the data file named "simulationData.csv".
    }

    function isValidInput(n) {
        return parseFloat(n) >= 0 && parseFloat(n) <= 1 && n != "";
    }

    function runSimulation(frm) {
        diversity = frm.diversityP.value;
        uniqueness = frm.uniquenessP.value;
        reshare = frm.reshareP.value;
        if (isValidInput(diversity) && isValidInput(uniqueness) && isValidInput(reshare)) {
            simulating = true;
            mode = sharingMode;
            startNode = "";
            startNodes = [];
            startNodesCount = 0;
        } else {
            alert("Oops- make sure all fields are filled out! Accepted values are between 0.0 and 1.0.");
        }
    }

    function oneShare() {
        sharingMode = false;
    }

    function multiShare() {
        sharingMode = true;
    }
    
        //Queue of nodes to be visited
        var queue = [];

        // Add a method to the graph model that returns an
        // object with every neighbors of a node inside:
        sigma.classes.graph.addMethod('neighbors', function (nodeId) {
            var k,
                neighbors = {},
                index = this.allNeighborsIndex[nodeId] || {};

            for (k in index)
                neighbors[k] = this.nodesIndex[k];

            return neighbors;
        });

        sigma.parsers.gexf(
          "{{ url_for('static', filename='data/LesMiserables.gexf') }}",
          {
              container: 'sigma-parent'
          },
          function (s) {
              networkLength = s.graph.nodes().length;
              // We first need to save the original colors of our
              // nodes and edges, like this:
              s.graph.nodes().forEach(function (n) {
                  n.originalColor = n.color;
                  n.visited = false;
                  n.counted = false;
                  n.unseen = true;
              });
              s.graph.edges().forEach(function (e) {
                  e.originalColor = e.color;
              });

              function color(e) {
                  var nodeId = e.data.node.id,
                        toKeep = s.graph.neighbors(nodeId);
                  toKeep[nodeId] = e.data.node;

                  s.graph.nodes().forEach(function (n) {
                      if (toKeep[n.id])
                          n.color = n.originalColor;
                      else
                          n.color = unseenColor;
                  });

                  s.graph.edges().forEach(function (e) {
                      if (toKeep[e.source] && toKeep[e.target])
                          e.color = e.originalColor;
                      else
                          e.color = unseenColor;
                  });

                  s.refresh();
              }

              function colorQueue(node) {
                  node.forEach(function (n) {
                      queue.push(n);
                  });
                      
                  var i = 0;
                  while (queue.length > 0) {
                      i++;
                      size--;
                      if (size == 0) {
                          alert("Network Spread: " + i + " time");
                      }
                      colorSim(queue.shift());
                  }
              }

              function colorSim(node) {
                  var nodeId = node.id,
                        toKeep = s.graph.neighbors(nodeId);
                  toKeep[nodeId] = node;

                  s.graph.nodes().forEach(function (n) {
                      if (!Boolean(n.visited)) {
                          if (toKeep[n.id]) {
                              //Does this user scan the screen or post new content?
                              postsNewContent = Math.random();

                              if (postsNewContent >= uniqueness) {
                                  catchesEye = Math.random();

                                  if (catchesEye >= diversity) {
                                      //If a post catches a person's eye, 
                                      //assume that they won't repost even if they
                                      //see it later at another point in time
                                      n.visited = true;
                                      if (Boolean(n.counted)) {
                                          if (Boolean(n.unseen)) {
                                              unseenCt--;
                                          } else {
                                              uninterestCt--;
                                          }
                                      }

                                      willRepost = Math.random();
                                      if (willRepost < reshare) {
                                          reshareCt = reshareCt + 1;
                                          n.color = repostColor;
                                          queue.push(n);
                                          size++;
                                      } else {
                                          interestCt = interestCt + 1;
                                          n.color = interestedNoPostColor;
                                      }
                                  } else {
                                      if (Boolean(n.counted)) {
                                          if (Boolean(n.unseen)) {
                                              uninterestCt = uninterestCt + 1;
                                              unseenCt--;
                                          }

                                      } else {
                                          uninterestCt = uninterestCt + 1;
                                          n.counted = true;
                                      }

                                      n.color = seenUninterestedColor;
                                      n.unseen = false;
                                  }
                              } else {
                                  if (!Boolean(n.counted)) {
                                      unseenCt = unseenCt + 1;
                                      n.color = unseenColor;
                                      n.counted = true;
                                  }
                              }
                          } else {
                              if (!Boolean(n.counted)) {
                                  n.color = unseenColor;
                              }
                          }
                      }
                  });

                  s.refresh();
              }

              // When a node is clicked, we check for each node
              // if it is a neighbor of the clicked one. If not,
              // we set its color as grey, and else, it takes its
              // original color.
              // We do the same for the edges, and we only keep
              // edges that have both extremities colored.
              s.bind('clickNode', function (e) {
                  var drop = false;
                  var idx = startNodes.indexOf(e.data.node);
                  if (idx >= 0) {
                      drop = true;
                      startNodes.splice(idx, 1);
                      startNodesCount--;
                  } 

                  reset(e);

                  if (!Boolean(simulating)) {
                      color(e);
                  } else {
                      reshareCt = 0;
                      uninterestCt = 0;
                      interestCt = 0;
                      unseenCt = 0;

                      if (!Boolean(mode)) {
                          startNode = e.data.node.label;
                          startNodesCount = 1;
                          e.data.node.visited = true;
                          e.data.node.color = shareColor;
                          startNodes[0] = e.data.node;
                      } else if (Boolean(mode)) {
                          if (!Boolean(drop)) {
                              startNodes[startNodesCount] = e.data.node;
                              startNodesCount++;
                          }
                          var i = 0;
                          startNodes.forEach(function (n) {
                              if (i == 0) {
                                  startNode = n.label;
                              } else {
                                  startNode += ', ' + n.label;
                                  }

                              n.visited = true;
                              if (startNodesCount > 0) {
                                  n.color = shareColor;
                              }

                              i++;
                          });
                      }

                      colorQueue(startNodes);
                      document.getElementById("resharedCount").innerText = reshareCt;
                      document.getElementById("uninterestedCount").innerText = uninterestCt;
                      document.getElementById("interestedCount").innerText = interestCt;

                      //Subtract 1 to account for the node that is sharing the data.
                          document.getElementById("unseenCount").innerText = s.graph.nodes().length - reshareCt - uninterestCt - interestCt - startNodesCount + ' (' + unseenCt + ' unseen in friend network)';
                          document.getElementById("originalSharers").innerText = startNode + ' (' + startNodesCount + ')';
                      }
              });

              function reset(e) {
                  size = 0;
                  
                  s.graph.nodes().forEach(function (n) {
                      if (!simulating) {
                          n.color = n.originalColor;
                      } else {
                          n.color = n.unseenColor;
                      }
                      n.visited = false;
                      n.counted = false;
                      n.unseen = true;
                  });

                  s.graph.edges().forEach(function (e) {
                      e.color = e.originalColor;
                  });

                  startNode = '';

                  // Same as in the previous event:
                  s.refresh();
              }

              // When the stage is clicked, we just color each
              // node and edge with its original color.
              s.bind('clickStage', function (e) {
                  if (!Boolean(simulating)) {
                      reset(e);
                  }
              });
          }
        );
  
</script>

</body>

</html>
