<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <style>
        #sigma-parent {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    </style>
    <script src="{{ url_for('static', filename='lib/sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/sigma-plugins/sigma.parsers.gexf.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript" src="network.js"></script>
</head>
<body>

<div id="main-div">
    <div id="menu-id">
    <form id="FBSim" action="form_action.asp">
        Diversity
        <input type="text" name="diversityP" value="0">

        Unique Content
        <input type="text" name="uniquenessP" value="0">

        Re-Share Probability
        <input type="text" name="reshareP" value="1.0">
        <input type="BUTTON" value="Run Simulation" onclick="runSimulation(this.form)">
    </form>
    <table>
        <tr>
            <td></td>
            <td>Start Node:</td>
            <td id="startingNode"></td>
        </tr>
        <tr>
            <td bgColor="#eee" width="50px">
            </td>
            <td>
                Didn't see it.
            </td>
            <td id="unseenCount"></td>
        </tr>
        <tr>
            <td width="50px" bgColor="#00FF00">
            </td>
            <td>
                Interested.
            </td>
            <td id="interestedCount"></td>
        </tr>
        <tr>
            <td width="50px" bgColor="#00FFFF">
            </td>
            <td>
                Uninterested.
            </td>
            <td id="uninterestedCount"></td>
        </tr>
        <tr>
            <td width="50px" bgColor="#000000">
            </td>
            <td>
                Re-shared.
            </td>
            <td id="resharedCount"></td>
        </tr>
    </table>
        </div>
    <div id="sigma-parent"></div>
</div>

<script>
  
</script>

</body>

</html>
